
.container-fluid {
    position: relative;
}

aside {

}

section {
    height: 100vh;
}


header {
    height: 100px;
    background-color: green;
    top: 0;
    z-index: 900000;
}

.corpo-pagina {
    height: 100vh;
    overflow: auto;
    background-color: blue;
}

.row{
    position: relative;
}

aside {
    height: 100vh;
    background-color: #000000;
}


footer {
    
    height: 200px;
    background-color:grey;
    width: 100%;
}