
.container-fluid {
    position: relative;
}



section {
    height: 100vh;

    background-color:red;
}


header {
    height: 100px;
    background-color: green;
}


aside {
    height: 100vh;
    background-color: #000000;
}


footer {
    height: 200px;
    background-color:grey;
    width: 100%;
}