
body >* {
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}




/******************** CORPO PAGINA **********************/

main {
    height: calc(100vh - 90px);
}

.conte-sup {
    height: 100%;
}





/******************** PARTE MENU SINISTRA **********************/

aside {  
    background-color: #000000;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 53px;
    padding: 10px 0px;
}

/******************** CONTENITORE DEI MENU **********************/

.menu-top-aside, .menu-bottom-aside, .menu-over, .menu-center-aside {
    display: flex;
    flex-direction: column;
    
}



/********************  MENU **********************/
.menu {
    padding: 10px 20px;
}

/********************  MENU TOP**********************/
.logo{
    width: 1000%;
}

.menu-top-aside ul, .menu-bottom-aside ul {
    list-style: none;
}

.menu-top-aside ul li, .menu-bottom-aside ul li{
    display: flex;
    align-items: center;
}

.menu-top-aside ul li a, .menu-bottom-aside ul li a {
    text-decoration: none;
    color: white;
    /* display: none;  PER MOBILE*/
}

/********************  MENU CENTER **********************/

.menu-over {
    overflow-y: auto;
    height: 30px;
    display: block;
}

.menu-center-aside {
    margin: 10px 0px;
}

.menu-center-aside h4 {
    margin: 5px 0px;
}

.menu-over a i, .menu-center-aside a i {
    font-size: 40px;
    vertical-align: middle;
    color: grey;
}

.menu-over a, .menu-center-aside a  {
    text-decoration: none;
    color: grey;
}

.menu-over ul li {
    list-style: none;
}


/********************  MENU BOTTOM **********************/

.menu-bottom-aside ul li:nth-of-type(1) img{
    width: 20px;
    margin-right: 10px;
}

.menu-bottom-aside ul li:nth-of-type(1) a {
    font-size: 12px;
    color: grey;
}

.menu-bottom-aside ul hr {
    background-color: white;
    height: 2px;
}



/******************** IMMAGINI MENU **********************/

.menu-top-aside img, .menu-bottom-aside img {
    padding: 10px 0px;
    width: 40px;
}



/********************  CONTENITORE CENTRALE **********************/

.main-content {
    height: 100%;
    background-color: blue;
}


/******************** PARTE HEADER CONTENITORE CENTRALE **********************/

header { 
    z-index: 90000;
    height: 90px;
    position: fixed;
    width: calc((100% / 12) * 10);
    background-color: #080b12;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px;
}

.btn a {
    text-decoration: none;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}





/******************** PARTE CORPO CENTRALE **********************/

section {
    margin-top: 90px;
    overflow: auto;
    height: calc(100% - 90px);
    background-color: #141922;;
    
}




/******************** FOOTER **********************/

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 9000;
    height: 90px;
    background-color: #282828;
}